*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
#btn
{
    height: 70px;
    width: 200px;
    border-radius: 10px;
    font-size: 30px;
    background-color: aqua;
    /* position: fixed; */
    margin-left: 500px;
    margin-top: 200px;
}
#joke
{
    height: 200px;
    width: 100vw;
    background-color: azure;
    border-radius: 10px;
    background-color:aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}